{% extends 'base.html' %} 

{% block title %}{{ artist.name }}{% endblock %}

{% block content %}
<div class="detail__img">
    <img src="{{artist.img}}" alt="{{artist.name}}" />
</div>
<div class="detail__name">
    {% if artist.verified_artist %}
    <div class="icon-text">
        <span class="icon has-text-info">
            <i class="fas fa-check-circle"></i>
        </span>
        <span>Verified</span>
    </div>
    {% endif %}
    <h1 class="title">{{artist.name}}</h1>
</div>
<div class="detail__container">
    <div class="buttons">
        <a href="{% url 'artist_update' artist.pk %}" class="button is-info">
            <span class="icon">
                <i class="fas fa-edit"></i>
            </span>
        </a>
        <a href="{% url 'artist_delete' artist.pk %}" class="button is-danger">
            <span class="icon">
                <i class="fas fa-trash-alt"></i>
            </span>
        </a>
    </div>
    <div class="detail__about">
        <h4 class="title is-4">About</h4>
        <p>{{artist.bio}}</p>
    </div>
</div>

{% endblock %}