{% extends 'base.html' %}

{% comment %} head title tags and SEO {% endcomment %}
{% block title %}Artists{% endblock %}

{% block content %}

<h1 class="title is-2 py-5 has-text-centered">Trending Artists</h1>
<div class="gallery">
    {% for artist in artists %}
    <a href="">
    <div class="card">
        <div class="card-image">
        <figure class="image is-square">
            <img src="{{artist.image}}" alt="{{artist.name}}" />
        </figure>
        </div>
        <div class="card-header">
        <p class="card-header-title">{{artist.name}}</p>
        </div>
    </div>
    </a>
    {% empty %}
    <article class="message">
    <div class="message-header">
        <p>No Artists Available</p>
    </div>
    </article>
    {% endfor %}
</div>

{% endblock %}